@import '../../styles/variaveis.scss';

.secao-alertas {
  padding: 80px 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;

  .titulo-alertas {
    font-size: 2.5rem;
    margin-bottom: 50px;
    background: linear-gradient(to right, #1e88e5, #4db6ac);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
  }

  .container-flex-alertas {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    max-width: 950px; 
  }

  .card-alerta {
    width: 416px;
    height: 141px;
    
    display: flex;
    align-items: center;
    padding: 20px;
    border-radius: 12px;
    gap: 20px;

    .icone {
      font-size: 2.5rem;
      flex-shrink: 0;
    }

    .texto {
      h3 {
        font-size: 1.1rem;
        margin-bottom: 8px;
        font-weight: 700;
      }
      p {
        font-size: 0.85rem;
        line-height: 1.4;
        color: #444;
      }
    }

 
    &.mamas {
      background-color: #fce4ec; 
      h3 { color: #d81b60; }
    }

    &.testiculos {
      background-color: #e3f2fd; 
      h3 { color: #1976d2; }
    }

    &.vacinas {
      background-color: #e8f5e9; 
      h3 { color: #388e3c; }
    }

    &.mental {
      background-color: #fff8e1; 
      h3 { color: #f57c00; }
    }
  }
}